<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomAccessHistory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <table border="1">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['datetime'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>